@import "tailwindcss";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;
    --font-serif: "Playfair Display", serif;
    --color-background: #FFFAF0;
    --color-surface: #FFFEFC;
    --color-surface-hover: #FFDEB8;
    --color-text: #332421;
    --color-text-hover: #4A3935;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
}